*.pyc
*.h5
sdsim/Library
sdsim/log/*
sdsim/obj
*.sln
*.userprefs
sdsim/Temp
*.csproj
sdsim/.vs
sdsim/Build
dataset
builds/
.idea/
__pycache__/
*.csproj
sdsim/Packages/
sdsim/ProjectSettings/PresetManager.asset
.DS_STORE
